<!DOCTYPE html>

<div style="display: none;" id="main_div">
	<div class="container">
		<div class = "row">
			<div class = "col-md-1"></div>
			<div class = "col-md-11">
				<ul class="nav nav-pills" id = "names_pills"></ul>
			</div>
		</div>
		</br>
		<div class = "row">
			<div class = "col-md-1"></div>
			<div class = "col-md-11">
				<div class="dropdown">
				  <h4 style="float: left;">Select Month:</h4><button style="float: left; margin-left: 10px;" id="dropdown_button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
				  <ul id="dropdown_list" class="dropdown-menu">
				  </ul>
				</div>

			</div>
		</div>
		</br>
		<div class = "row">
			<div class = "col-md-1"></div>
			<div class = "col-md-11">
				<div id = "tab-content" class = "tab-content"></div>
			</div>
		</div>

	</div>

</div>