<!DOCTYPE html>

<div style="display: none;" id="main_div">
	<div class="container">
		<div class = "row">
			<div class = "col-md-1"></div>
			<div class = "col-md-11">
				<ul class="nav nav-pills" id = "names_pills"></ul>
			</div>
		</div>
		</br>
		<div class = "row">
			<div class = "col-md-1"></div>
			<div class = "col-md-11">
				<h4 style="float: left;">Selected Month: </h4>
				<h4 style="float: left; padding-left: 10px;" id = "selected_month_label"></h4>
			</div>
		</div>
		</br>
		<div class = "row">
			<div class = "col-md-1"></div>
			<div class = "col-md-11">
				<div id = "tab-content" class = "tab-content"></div>
			</div>
		</div>

	</div>

</div>