extends layout

block content
	h1 Login
	br
	div
		form(action='/login',method='post')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='username') username
						input(id='username',type='text',value='',placeholder='',name='username')
			div#passworddiv(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='password') password
						input(id='password',type='password',value='',placeholder='',name='password')
			div(data-role='fieldcontain')   
				input(type='submit',value='Login',data-transition='fade', data-theme='c')
		h4(style="color: red;") #{error}